<footer>
  <hr>
  &copy; Christian Watson - 2019
</footer>

</main>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.bundle.js"></script>
<script src="/javascripts/myScript.js"></script>
</body>
</html>
