</main>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.bundle.js"></script>
<script src="/javascripts/typeahead.bundle.js"></script>
<script src="/javascripts/mytypeahead.js"></script>
</body>
</html>
