</main>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.bundle.js"></script>
<script src="/javascripts/autoComplete.js"></script>
<script src="/javascripts/myScript.js"></script>
</body>
</html>
