<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%= title %></title>
  <link href="/stylesheets/normalize.css" rel="stylesheet" />
  <link href="/stylesheets/autoComplete.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <div class="brand">
      <a href="/">Game Journal</a>
    </div>
    <div class="login">
      <% if (user) { %>
      <a href="/logout">Log Out</a>
      <% } else { %>
      <a href="/auth/google">Login with Google</a>
      <% } %>
    </div>
  </nav>
  <main class="container">

    <h1><%= title %></h1>