<%- include('../partials/header'); %>

<div> 
  <input id="gameTitle" placeholder="Game Title" name="" type="text" value=""/>
  <ul id="results">
    
  </ul>
</div>


<%- include('../partials/footer'); %>
