<%- include('../partials/header'); %>

<div>
  <h2>Game Info</h2>
  <label>Game Title
    <input id="gameTitle" placeholder="Game Title" name="gameTitle" type="text" value="" class="form-control" />
  </label>
  <ul id="results">
  </ul>
  <form action="/posts" method="POST" id="postForm">
    <input type="hidden" name="_id" id="_id">
    <input type="hidden" name="hiddenGameTitle" id="hiddenGameTitle">
    <h3>Main Image</h3>
    <div id="gameImage"></div>
    <h3>Description</h3>
    <p id="description"></p>
    <!-- hidden game._id field for selected game for create() lookup -->
    <h3>Developers</h3>
    <ul id="devs"></ul>
    <h2>Post Info</h2>
    <label>Post Title
      <input type="text" name="title" class="form-control">
    </label>
    <label>Post Body
      <textarea name="body" id="" cols="30" rows="10" class="form-control"></textarea>
    </label>
    <button class="btn btn-primary">Submit Post</button>
  </form>
</div>


<%- include('../partials/footer'); %>